<section class="form">
    <h2>Login To Your Account</h2>
    <hr>
    <p class="valid">Valid. Please wait a moment.</p>
    <p class="error">Error. Please enter correct Username &amp; password.</p>

    <form class="loginbox" [formGroup]="loginForm" (ngSubmit)="submit()">
        <input placeholder="Username" formControlName="email" type="text" id="username">
        <input placeholder="Password" formControlName="password" type="password" id="password">
        <input type="submit" value="Login" id="login">
    </form>
    <hr>
    <p>New User? &nbsp;&nbsp;<a>Signup for an account</a></p>
</section>