<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="../../assets/Images/logo.png" class="rounded-circle" width="50px" alt="">
        <span class="navbar-brand">TO-DO App</span>
      </div>
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="'active'"><a  routerLink="/user/todo/private">Home</a></li>
        <li [routerLinkActive]="'active'"><a routerLink="/user/todo/public">Public</a></li>
        <li [routerLinkActive]="'active'"><a routerLink="/user/profile">Profile</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
         <li><a routerLink="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
</nav>