/* nav{
    height: 50px;
}

.test{
    background-color: red;
}

.active{
    background-color: black;
    color: cornsilk;
}

img{
    margin-top: 5px;
    height: 40px;
    width: 40px; */
/* } */

ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

nav {
  background-color: rgb(81, 85, 87);
  box-shadow: 0px 0px 5px;
  height: 52px;
}

a {
  color: white;
}

.active,
.nav > li > a:focus {
  background-color: white;
  color: brown;
}

.nav > li > a:hover {
  background-color: brown;
  color: black;
}
