/* nav{
    height: 50px;
}

.test{
    background-color: red;
}

.active{
    background-color: black;
    color: cornsilk;
}

img{
    margin-top: 5px;
    height: 40px;
    width: 40px; */
/* } */

ul{
    margin: 0px;
    padding: 0px;
}

li{
    display: inline-block;
    padding: 15px;
}

nav{
    background-color: darkgray;
}