ul {
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

nav {
  background-color: #333;
  box-shadow: 0px 0px 5px;
  height: 52px;
}

a {
  color: white;
}

.active,
.nav > li > a:focus {
  background-color: white;
  color: brown;
}

.nav > li > a:hover {
  background-color: brown;
  color: black;
}
