<a (click)="addNew()"><button class="btn btn-primary no-right">Add New</button></a>
<!-- <hr>
<p style="text-align: center; margin: 0px;"> Filters </p> -->
<hr>
<div class="test">
    <input type="search" name="" id="" placeholder="Search...">
    <button class="btn btn-default search-button">
        <i class="glyphicon glyphicon-search"></i>
    </button>
</div>
<hr>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Status</li>
    <li class="list-group-item list-group-item-success">Done <span class="badge badge-pill badge-dark">15</span></li>
    <li class="list-group-item list-group-item-warning">Pending &nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-dark">95</span></li>
    <li class="list-group-item list-group-item-danger">Overdue<span class="badge badge-pill badge-dark">155</span></li>
    <li class="list-group-item list-group-item-light">Closed <span class="badge badge-pill badge-dark">9655</span></li>
</ul>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Categories</li>
    <li class="list-group-item list-group-item-success">Done <span class="badge badge-pill badge-dark">15</span></li>
    <li class="list-group-item list-group-item-warning">Pending &nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-pill badge-dark">95</span></li>
    <li class="list-group-item list-group-item-danger">Overdue<span class="badge badge-pill badge-dark">155</span></li>
    <li class="list-group-item list-group-item-light">Closed <span class="badge badge-pill badge-dark">9655</span></li>
</ul>
<hr>
<input type="date" name="" id="" value="2020-01-01">
<p style="padding-left: 25px; margin: 2px 0px; font-weight: 900; color: #aaa;">To</p>
<input type="date" name="" id="" value="2020-12-31">
<button class="btn btn-primary" style="margin-top: 5px;">Search</button>
