<div class="test2">
    <button class="btn btn-danger" (click)="deleteSelected()" [disabled]='!allowedBatchOperation'>Delete Selected</button>
    <button class="btn btn-success" (click)="doneSelected()" [disabled]='!allowedBatchOperation'>Mark As Done</button>
    <button class="btn btn-primary">Show All</button>
  </div>
  <hr>
  <table>
    <thead style="margin-bottom: 5px;" id="head">
      <tr>
        <th class="check-box check"><input type="checkbox" name="" #test id="" (click)="selectAll($event)"></th>
        <th class="privacy"><i class="glyphicon glyphicon-globe"></i></th>
        <th class="due-date">Due Date</th>
        <th class="due-date">Category</th>
        <th class="due-date">Status</th>
        <th class="title">Title</th>
        <th class="due-date">Reminder Date</th>
        <th class="options">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos" (click)="navigate(todo.todoID)">
        <td class="check-box check"><input type="checkbox" (click)="selectItem($event)" name="" id={{todo.todoID}} [checked]='allSelected'></td>
        <td class="privacy"><i class="glyphicon glyphicon-user"></i></td>
        <td class="due-date">{{todo.dueDate}}</td>
        <td class="due-date">{{todo.category}}</td>
        <td class="due-date" [ngStyle]="{'color': todo.status == 'done' ? 'green' : 'red' }">{{todo.status}}</td>
        <td class="title" >{{todo.title}}</td>
        <td class="due-date">{{todo.reminderDate}}</td>
        <td class="options">
          <div class="testOption">
              <i class="glyphicon glyphicon-pencil test" id={{todo.todoID}} (click)="editTodo($event)" *ngIf="todo.status != 'done' "></i>
              <i class="glyphicon glyphicon-ok test" id={{todo.todoID}} (click)="doneTodo($event)" *ngIf="todo.status != 'done' "></i>
              <i class="glyphicon glyphicon-trash test" id={{todo.todoID}} (click)="deleteTodo($event)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div>
      <ul class="test">
        <li class="child">
          <input type="checkbox" name="" id="">
          <span class="category">Category</span>
          <span class="status">Status</span>
          <span class="due">Due Date</span>
          <span class="title">Title</span>
          <span class="reminder">Reminder Date</span>
          <span class="option">Options</span>
          <p>kajcnkajnckajscnakscjn</p>
        </li>
        <li *ngFor="let todo of todos">
          <input type="checkbox" name="" id="">
          <span class="category">{{todo.category}}</span>
          <span class="status">{{todo.status}}</span>
          <span class="due">{{todo.dueDate}}</span>
          <span class="title">{{todo.title}}</span>
          <span class="reminder">{{todo.reminderDate}}</span>
          <span class="option">Options</span>
          <p>{{todo.desc}}</p>
        </li>
      </ul>
  </div> -->