<div class="test2" ng>
  <button
    class="btn btn-danger"
    (click)="deleteSelected()"
    [disabled]="!allowDelete"
  >
    Delete Selected
  </button>
  <button
    class="btn btn-success"
    (click)="doneSelected()"
    [disabled]="!allowDone"
  >
    Mark As Done
  </button>
</div>
<hr />
<table>
  <thead style="margin-bottom: 5px;" id="head">
    <tr>
      <th class="check-box check">
        <input
          [checked]="allSelected"
          type="checkbox"
          name=""
          #test
          id=""
          (click)="selectAll($event)"
        />
      </th>
      <th class="due-date">Due Date</th>
      <th class="due-date">Category</th>
      <th class="due-date">Status</th>
      <th class="title">Title</th>
      <th class="due-date">Start Date</th>
      <th class="options">Option</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let todo of todos; let i = index"
      [attr.id]="i"
      [ngClass]="{ 'highlight-row': i == selectedRow }"
    >
      <td class="check-box check">
        <input
          type="checkbox"
          (click)="selectItem($event, status.id)"
          id="{{ todo.todoID }}"
          [checked]="allSelected"
        />
      </td>
      <td class="due-date">{{ todo.dueDate }}</td>
      <td class="due-date">{{ todo.category }}</td>
      <td
        id="{{ todo.status }}"
        class="status due-date left"
        [ngClass]="{
          done: todo.status === 'done',
          pending: todo.status === 'pending' && todo.dueDate >= today,
          'over-due': todo.status === 'pending' && todo.dueDate < today
        }"
        #status
      >
        <span
          class="status"
          [ngClass]="{
            done: todo.status === 'done',
            pending: todo.status === 'pending' && todo.dueDate >= today,
            'over-due': todo.status === 'pending' && todo.dueDate < today
          }"
        ></span>
        &nbsp;{{ todo.status }}
      </td>
      <td class="title">
        {{ titleString[i] }}
        <span>
          <i
            class="glyphicon glyphicon-info-sign test"
            id="{{ todo.todoID }}"
            (click)="showTodo($event, i)"
          ></i>
        </span>
      </td>
      <td class="due-date">{{ todo.reminderDate }}</td>
      <td class="options">
        <span class="disabled" (click)="canOnlyDelete()"
          ><i
            class="glyphicon glyphicon-pencil test option-disabled"
            *ngIf="todo.status == 'done'"
          ></i>
          <i
            class="glyphicon glyphicon-ok test option-disabled"
            *ngIf="todo.status == 'done'"
          ></i
        ></span>

        <i
          class="glyphicon glyphicon-pencil test options-allowed"
          id="{{ todo.todoID }}"
          (click)="editTodo($event)"
          *ngIf="todo.status != 'done'"
        ></i>
        <i
          class="glyphicon glyphicon-ok test options-allowed"
          id="{{ todo.todoID }}"
          (click)="doneTodo($event)"
          *ngIf="todo.status != 'done'"
        ></i>
        <i
          class="glyphicon glyphicon-trash test options-allowed"
          id="{{ todo.todoID }}"
          (click)="deleteTodo($event)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
