<div class="test2">
  <button
    class="btn btn-danger"
    (click)="deleteSelected()"
    [disabled]="!allowedBatchOperation"
  >
    Delete Selected
  </button>
  <button
    class="btn btn-success"
    (click)="doneSelected()"
    [disabled]="!allowedBatchOperation"
  >
    Mark As Done
  </button>
  <button class="btn btn-primary">Show All</button>
</div>
<hr />
<table>
  <thead style="margin-bottom: 5px;" id="head">
    <tr>
      <th class="check-box check">
        <input type="checkbox" name="" id="" (click)="selectAll($event)" />
      </th>
      <th class="privacy"><i class="glyphicon glyphicon-globe"></i></th>
      <th class="due-date">Due Date</th>
      <th class="due-date">Category</th>
      <th class="due-date">Status</th>
      <th class="title">Title</th>
      <th class="due-date">Reminder Date</th>
      <th class="options">Option</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos" [ngClass]="{ myTodo: todo.owner === owner }">
      <td class="check-box check">
        <input
          type="checkbox"
          name=""
          id="{{ todo.todoID }}"
          #check
          (click)="selectItem(check)"
          [checked]="allSelected"
          *ngIf="todo.owner === owner"
        />
      </td>
      <td class="privacy">
        <i class="glyphicon glyphicon-globe" *ngIf="todo.owner !== owner"></i>
        <i class="glyphicon glyphicon-user" *ngIf="todo.owner === owner"></i>
      </td>
      <td class="due-date">{{ todo.dueDate }}</td>
      <td class="due-date">{{ todo.category }}</td>
      <td
        class="due-date"
        [ngStyle]="{ color: todo.status == 'done' ? 'green' : 'red' }"
      >
        {{ todo.status }}
      </td>
      <td class="title">{{ todo.title }}</td>
      <td class="due-date">{{ todo.reminderDate }}</td>
      <td class="options">
        <div class="testOption" *ngIf="todo.owner === owner">
          <i
            class="glyphicon glyphicon-pencil test"
            id="{{ todo.todoID }}"
            (click)="editTodo($event)"
            *ngIf="todo.status != 'done'"
          ></i>
          <i
            class="glyphicon glyphicon-ok test"
            id="{{ todo.todoID }}"
            (click)="doneTodo($event)"
            *ngIf="todo.status != 'done'"
          ></i>
          <i
            class="glyphicon glyphicon-trash test"
            id="{{ todo.todoID }}"
            (click)="deleteTodo($event)"
          ></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
